/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.chart1{
	height: 50%!important;
	width: 50%!important;
}
.chartClass{
	float: right;
	top:-305px;
}